#simbolo{
    width: 100px;
    margin-right: 20px;
       
}

 #simbolo2{
    width: 60px;
    margin-right: 20px;
        
}

#telefono1{
    margin-right: 50px;
    margin-left: 20px;

}

#containerventas{
    margin-top: 100px;

}