#simbolo{
    margin-top: 10px;
    width: 80px;
  
}

#menu{
    margin-top: 1px;
    padding-left: 100px;
    margin-top: 10px;

}


#container{
    margin-top: 10px;
    


}


#1a{
margin-top: 60px;

}

