{% extends 'core\base.html' %}
{% block content %}     



<div id="container1" class="container">
  <div class="row">
    <div class=" col-md-4 offset-md-3">
      <div class="card bg-secondary">
        <div class="card-body">
          <form action="" method="POST" id="formulario">
            {% csrf_token %}
            <div class="form-group" >
              {{form.id_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.nombre_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.autor_libro}}
              </div>
              <br>
            <div class="form-group">
              {{form.descripcion_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.categoria_libro }}
            </div>
            <hr>
            <input class="btn btn-info" type="submit"  id="enviar" value="enviar">
          
            <input class="btn btn-info" type="reset"   id="limpiar " value="limpiar">
          </form >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}