{% extends 'core/base.html' %}

{% block title %}
 Formulario Libros
{% endblock %} 


{% block content %}     



<div id="container1" class="container-sm">
  <div class="row">
    <div class=" col-sm-4 offset-sm-3">
      <div class="card bg-dark">
        <div class="card-body">
          <form action="" method="POST" id="formulario">
            {% csrf_token %}
            <div class="form-group" >
              {{form.id_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.nombre_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.autor_libro}}
              </div>
              <br>
            <div class="form-group">
              {{form.descripcion_libro}}
            </div>
            <br>
            <div class="form-group">
              {{form.categoria_libro }}
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-1">
                <input class="btn btn-success" type="submit"  id="enviar" value="enviar">
              </div>
          
            </div>
          </form >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}