{% extends 'core/base.html' %}
{% block content %}  
    <br>
    
    
  <div class="row">
    <div class="col-md-8 offset-sm-2">
        <table class="table table-dark" >
          <tr><td> Codigo</td><td>nombre libro</td><td>autor</td><td>Descripcion</td></tr>
          {%for ve in libros%}
          <tr><td>{{ve.id_libro}}</td><td>{{ve.nombre_libro}}</td><td>{{ve.autor_libro}}</td><td>{{ve.descripcion_libro}}</td></tr>
          {% endfor %}
        </table>
    </div>
  </div>
    
    <div class=”row”>
      <div class="col-3 offset-sm-2">   
        <a href="{% url 'descarga' %}" class="btn btn-primary btn-XS active"> exportar a excel </a> </div>

      </div>
{% endblock %}







 














