#html{
    display: 100%;
    width: 100%;
}
#con{
    background-color :gray ;
    display: 100%;
    width: 100%;
}

.display-4{
    font-size: 2.5rem;
    
}
.fst-italic{
    font-style: italic! important;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ligas_España{
    background-color:cornsilk;
    
}
#Deportes{
    background-color:cornsilk;
    
}
#formulario{
     margin: auto;
}
p{
    color: black;
}

.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.banner{
    width: 100%;
}


@media screen and (max-width:800px ){
        body{
            background-color: gray;
        }
}


#parrafof{
    color:darkgrey;
}
#pie{
    background-color:rgb(49, 44, 44);
    width:100%;
    
    
}