
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/formulario.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/icons8-casa-48.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>login</title>
  </head>
<body class="bg-secondary">
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid ">
        <div class="row text-center">
          <div class=" col-md-3 offset-md-4">
            <div class="card text-white bg-dark md-3">
              
              <div class="card-header">
                <img class="img-fluid" src="{%  static 'core/img/72-727918_naruto-uchiha-logo-uchiha-symbol.png'  %}" alt="">
                <form action="" method="POST" id="formulario">
                    {% csrf_token %}
                    
                    {{ form | crispy  }}
                    <br>
                    <hr>
                    <input class="btn btn-success" type="submit"   value="ingresar">
                  </form >
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>