#simbolo{
width: 100px;
margin-right: 20px;


}

#simbolo2{

width: 60px;
margin-right: 20px;

}

#telefono1{
    margin-right: 50px;
    margin-left: 20px;
}

#container2{
    margin-top: 30px;
    background-color:sandybrown;
}





#imagen3{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 500px;
   
}

#parrafo{
    
    margin-top: 30px;
}

#carrusel{
    padding-top: 100px;
    width: 900px;
}

#IMG1{
    width: 700px;
    
}
#cardp{
    margin-top: 30px;
}

#parrafof1{
    color:darkgrey;
}
#parrafof2{
    color:darkgrey;
}
#parrafof3{
    color:darkgrey;
}
#parrafof4{
    color:darkgrey;
}
#icon{
    color: darkgrey;
}